__pycache__/
*.py[cod]
/output/
/input/
!/input/example.png
/models/
/temp/

extra_model_paths.yaml
/.vs
.vscode/
.idea/
venv*/
.venv/
/tests-ui/data/object_info.json
/user/
*.log
web_custom_versions/
.DS_Store
filtered-openapi.yaml
uv.lock
